<div id="<%= dom_id profile %>">
  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Venmo:</strong>
    <%= profile.venmo %>
  </p>

  <p>
    <strong>Paypal:</strong>
    <%= profile.paypal %>
  </p>

  <p>
    <strong>Cashapp:</strong>
    <%= profile.cashapp %>
  </p>

  <p>
    <strong>Favorite team:</strong>
    <%= profile.favorite_team %>
  </p>

</div>
