<div id="<%= dom_id bet %>">
  <p>
    <strong>Expiration:</strong>
    <%= bet.expiration %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bet.description %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= bet.owner_id %>
  </p>

  <p>
    <strong>Better:</strong>
    <%= bet.better_id %>
  </p>

  <p>
    <strong>Settled:</strong>
    <%= bet.settled %>
  </p>

</div>
