<div id="<%= dom_id bet %>" class="card bet">
  <div class="card-header">
    <h3>I bet you $1 that</h3>
  </div>
  <div class="card-body">
    <p class="description"><%= bet.description %></p>
    <p class="offered-by">Offered by <%= link_to bet.owner.profile.name, profile_path(bet.owner) %></p>
    <p class="expiration">Expires <%= bet.expiration.to_fs(:short) %></p>
  </div>
  <% if bet.unaccepted? && current_user %>
    <a href="<%= place_bet_path(bet) %>" class="place-bet">
      <div class="card-footer">
        <%= acceptance_text %>
        <i class="icon bi-check-square"></i>
      </div>
    </a>
  <% end %>
</div>
