<%= form_with(model: bet) do |form| %>
  <% if bet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
        <% bet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :expiration, style: "display: block" %>
    <%= form.datetime_field :expiration %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :owner_id, style: "display: block" %>
    <%= form.text_field :owner_id %>
  </div>

  <div>
    <%= form.label :better_id, style: "display: block" %>
    <%= form.text_field :better_id %>
  </div>

  <div>
    <%= form.label :settled, style: "display: block" %>
    <%= form.check_box :settled %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
